<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bumpd.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
				<key>dateExpires</key>
				<string>5/24/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheck.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDatabase.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFunctions.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessagingInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>785CC6C0139A41A0F23E455001B84B10A01E5C5C</string>
						<key>dateExpires</key>
						<string>5/24/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8L4NGJ9BL</string>
						<key>name</key>
						<string>Bumpd Incorporated</string>
					</dict>
					<key>versionNumber</key>
					<string>1.01</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>X8L4NGJ9BL.com.bumpd.bumpdapp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.devicecheck.appattest-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>X8L4NGJ9BL</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>bumpd.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b0cd0ce5-d6f2-4fff-af13-6fd15129bebe</string>
				<key>dateExpires</key>
				<string>5/24/24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.bumpd.bumpdapp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>X8L4NGJ9BL</string>
				<key>name</key>
				<string>Bumpd Incorporated</string>
			</dict>
			<key>versionNumber</key>
			<string>1.01</string>
		</dict>
	</array>
</dict>
</plist>
